@model RegistroCedula.Models.Cedula

@{
    ViewBag.Title = "Index";
}

<style>
     header {
            width: 100%;
            height: 45vh;
            background-color: gainsboro;
            padding-top: 10%;
        }
        #formID {
            background-color: rgb(247, 234, 212);
            width: 90%;
            min-height: 40vh;
            height: auto;
            margin: 2em auto;
            border-radius: 10px;
        }
       #escudo {
           width:100%;
           height: auto;
           margin: 1em auto;
       }
        #intro {
            padding-top: 1em;
        }
       #jce {
            width: 100%;
           height: auto;
           margin: 1em auto;
       }
     
</style>

<header class="jumbotron-fluid text-center">
    <h1>Sistema de Registro de Identidad</h1>
    <p>SRI @Session["Usuario"]</p>
</header>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li>
</ul>

<main class="container">
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">
            <div id="formID" class="container">
                <div class="row">
                    <div class="col-sm-2"><img id="escudo" src="~/IMG/escudo-dominicano.png"/></div>
                    <div id="intro" class="col-sm-8 text-center">
                        <h4>Republica Dominicana</h4>
                        <h5>Junta Central Electoral</h5>
                        <h6>Cedula de Identidad y Electoral</h6>
                    </div>
                    <div class="col-sm-2"><img id="jce" src="~/IMG/jce-logo-2.jpg"/></div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                         @using (Html.BeginForm())
                         {
                             
                         }
                    </div>
                    <div class="col-sm-8 col-md-8">

                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="profile-tab"></div>
        <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="contact-tab"></div>
    </div>
</main>


